@{
    ViewBag.Title = "Error occurred during authentication process";
}

<div class="gray-margin"></div>

<h2 class="content-header">Error occurred during authentication process</h2>
<div class="content-container">
    <p>Please contact us so we can resolve the issue as soon as possible.</p>
</div>